{
  "blank": {
    "src": "vendor/spiritgr/theme-blank-sass",
    "dest": "pub/static/frontend/Spirit/blank",
    "locale": ["en_US"],
    "ignore": [".test"]
  },
  "basic-child": {
    "src": "vendor/spiritgr/theme-basic-child",
    "dest": "pub/static/frontend/Spirit/basic-child",
    "locale": ["en_US"],
    "parent": "blank"
  },
  "child-with-locale-overwrites": {
    "src": "vendor/spiritgr/theme-custom",
    "dest": "pub/static/frontend/Spirit/child-with-locale-overwrites",
    "locale": ["en_US", "el_GR"],
    "parent": "blank"
  },
  "all-possible-options": {
    "src": "vendor/spiritgr/theme-all-possible-options",
    "dest": "pub/static/frontend/spiritgr/all-possible-options",
    "locale": ["en_US", "el_GR"],
    "parent": "blank",
    "stylesDir": "web/css",
    "includePaths": ["../../../node_modules"],
    "postcss": ["autoprefixer()"],
    "disableSuffix": true,
    "modules": {
      "Spirit_Sample": "vendor/spiritgr/module-sample"
    },
    "ignore": [
      "vendor/spiritgr/module-sample/{docs,dist}/**",
      "*.xml"
    ]
  }
}
